html, body {
  margin: 0;
  padding: 0;
}

html {
  /*For the page background color*/
  background: #6F717E;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", "Squada One", "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: "Source Sans Pro", "Roboto", "Libre Franklin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 60px;
  color: #6F717E;
}

#page-content-wrapper {
  /*For the page background color*/
  background: #6F717E;
}

#wrapper, #wrapper.toggled {
  background: #6F717E;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*Fixed height of footer*/
  height: 5%;
  background-color: #32333B;
  -webkit-clip-path: polygon(100% 0, 100% 0, 0 100%, 0 0);
  clip-path: polygon(0% 0%, 97.5% 0%, 100% 30%, 100% 100%, 0% 100%);
  /*background-image: url("../images/bigbossthumbsup.gif");
  background-position: center;*/
}

.nav-tabs {
  border-bottom: 0px solid #eee;
  border-top: 0px solid #eee;
}

.nav-item {
  padding-top: 1rem;
}
/*.nav-item, .nav-fill {
  -webkit-box-flex: 3;
  -webkit-flex: 3 3 auto;
  -ms-flex: 3 3 auto;
  flex: 3 3 auto;
}*/

.nav-link .nav-tabs {
  border: 0px;
  border-radius: 0.0rem 0.0rem 0.0rem 0.0rem;
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}

#sidebar-brand {
  padding-top: 10rem;
  font-family: "Monoton", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.sidebar-nav li {
  font-family: "Rajdhani", "Squada One", cursive;
}


a {
  color: #eceeef
}

/*#profile-shape {
  position: absolute;
  z-index: auto;
  height: 100%;
  width: 100%;
  transform-origin: 50% 50%;
  overflow: hidden;
  background-image: url("../images/profile.gif");
  background-position: center;
  -webkit-clip-path: clip-path: polygon(66% 1%, 64% 49%, 96% 100%, 50% 69%, 4% 100%, 35% 48%);
  clip-path: polygon(66% 1%, 64% 49%, 96% 100%, 50% 69%, 4% 100%, 35% 48%);
}*/

#sidebar-wrapper {
  /*background: linear-gradient(180deg, #32333B 0%, #32333B 51%, #1C1C27 75%);*/
  /* how we skew the sidebar */
  /*background-image: url("../images/thekong_lossy.webp");
  background-position: top;*/
  background-color: #32333B;
  -webkit-clip-path: polygon(85% 0%, 100% 5%, 100% 95%, 85% 100%, 0% 100%, 0% 0%);
  clip-path: polygon(85% 0%, 100% 5%, 100% 95%, 85% 100%, 0% 100%, 0% 0%);
  margin-top: 75px;
  margin-bottom: 75px;
  height: 831.19px;
}

.skew-box-top {
  background-color: rgba(0,0,0,0.1);
  outline-color: invert;
  margin-top: 20px;
  padding: 1% 10px;
  /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-7.5deg);
}

.skew-box-top > .skew-box-bot {
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -o-transform: skewY(10deg);
  transform: skewY(7.5deg);
}

.sidebar-nav{
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.sidebar-nav li {
  line-height: 30px;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.0);
}
.parallax {
  /*background-image: url("../images/thekong_lossy.webp");*/
  background-color: #6F717E;

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size:  auto;
}

.text-anim {
  width: 14rem;
  height: 3rem;
  -webkit-transition: -webkit-transform 2s,opacity 1s,background 2s,width 1s,height 2s,font-size 1s;
  -webkit-border-radius: 5px;
  -o-transition-property: width,height,-o-transform,background,font-size,opacity;
  -o-transition-duration: 1s,1s,1s,1s,1s,1s;
  -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
  -moz-transition-duration: 1s,1s,1s,1s,1s,1s;
  transition-property: width,height,transform,background,font-size,opacity;
  transition-duration: 1s,1s,1s,1s,1s,1s;
  transition: all 0.60s ease;
  border-radius: 0.0rem 0.0rem 0.0rem 0.0rem;
  opacity:0.5;
}

.text-anim:hover {
  opacity:1;
  background:#6F717E;
  color: #FFFFFF;
  width: 15.6rem;
  height: 3rem;
}

.container-multi {
  margin-bottom: 3rem;
  /*background-color: #eceeef;
  Just to see where it at you know ;)*/
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  padding-bottom: 10rem;
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
}

#jobcards {
  background-color: #eceeef;
  padding: 2rem;
  margin: 1rem;
}    <style>

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}
