.wf-nicomoji { font-family: "Nico Moji"; }

html, body {
  background-color: rgba(230, 230, 025, 1);
  height: 100%;
}

h1,p {
  font-family: "VT323", "Nico Moji";
}

.top_frame {
  background-color: rgba(240, 240, 240, 1);
  padding: 35%;
  padding-bottom: 10%;
  padding-top: 15%;
}
.bot_frame {
  width: 100%;
  padding: 10%;
  padding-top: 15%;
  padding-bottom: 0%;
}
.ashi {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 25%;
  position: relative;
  bottom: 0;
}
.frame_inner {
  padding-right: 15%;
  padding-left: 15%
}
#bar,#bar1,#bar2,#bar3 {
  border-radius: 7px;
}
#bar {
  width: 100%;
  height: 7px;
  background-color: #000000;
  transform: scale(1, 1);
  animation: bar 3s ease-in-out infinite alternate;
}
#bar1 {
  width: 54px;
  height: 2px;
  margin-bottom: 10%;
  background-color: #000000;
}
#bar2 {
  width: 3px;
  height: 200px;
  background-color: #000000;
}
#bar_x1 {
  position: relative;
  border-radius: 0px 0px 2px 2px;
  bottom: 200px;
  width: 8px;
  height: 50px;
  margin-left: 6px;
  background-color: #f0f0f0;
  animation: h1 var(--animation-time) ease-in-out infinite alternate;
}
#bar_x2 {
  position: relative;
  border-radius: 0px 0px 2px 2px;
  bottom: 200px;
  width: 8px;
  height: 50px;
  margin-left: 6px;
  background-color: #f0f0f0;
}
#bar_x3 {
  position: relative;
  border-radius: 0px 0px 2px 2px;
  bottom: 200px;
  width: 8px;
  height: 50px;
  margin-left: 6px;
  background-color: #f0f0f0;
}
@keyframes h1 {
  0% {}
  100% {
    transform: scale(1,2);
  }
}
@keyframes bar {
  0% {
    box-shadow: 3px 4px 10px 0px rgba(162,160,160,0.2);
  }
  100% {
    box-shadow: 2px 3px 7px 0px rgba(162,160,160,0.1);
    transform: scale(0.90,.98);
  }
}
@media (min-width:800px) {
  #bar3 {
    bottom: 190px;
    height: 50px;
  }
}
@media (min-width:1000px) {
  #bar3 {
    bottom: 200px;
  }
  .ashi {
    margin-top: 10%;
  }
  .bot_frame {
    padding-top: 10%;
  }
  .top_frame {
    padding-right: 33.5%;
  }
}
@media (min-width:2000px) {
  #bar3 {
    bottom: 255px;
  }
  .top_frame {
    padding-right: 40%;
  }
}
@media (min-height:1300px) {
  #bar3 {
    bottom: 190px;
    height: 50px;
  }
}
