.wf-nicomoji { font-family: "Nico Moji"; }
.wf-notosansjapanese { font-family: "Noto Sans JP"; }

html, body {
  background-color: rgba(245, 245, 245, 1);
  height: 100%;
  line-height: 1.5em;
}
html {background-color: rgba(0,0,0,1);}
body{
  margin-left: 2%; margin-right: 2%; height: 93.5%; margin-top: 1%;
  border-radius: 45px 45px 45px 45px;}
h1,h2,h3,h6,a,p {font-family: "VT323", "Nico Moji", sans-serif;}
p {font-size: 1vw;}
h1 {line-height: .1em;}
a, a:hover {
  color: inherit;
  text-decoration: none;
}

.rotate_jp {writing-mode: vertical-rl;}
.frame_head {
  background-color: rgba(245, 245, 245, 1);
  text-align: center;
  border-radius: 45px 45px 0px 0px;
  width: 100%;
  height: 20%;
  margin-top: 2%;
  z-index: 2;
}
.frame_head_tippytop {
  /*background-color: rgba(234,230,042,1);
  background-image: radial-gradient(rgba(0, 0, 025, .25) 10%, transparent 1%), radial-gradient(rgba(230, 230, 025, 1) 5%, transparent 6%);
  background-size: 15px 15px;
  */
  position: relative;
  text-align: center;
  top: 10px;
  margin-left: 45%; margin-right: 45%;
}
.frame_body {
  background-color: rgba(245, 245, 245, 1);
  text-align: center;
  padding-top: 7.5%;
  height: 35%;
  width: 100%;
  padding-top: 10%;
  z-index: 2;
}
.frame_body_foot {
  text-align: center;
  margin-top: 15%;
  background-color: rgba(0, 0, 0, 0);
  overflow-y: visible;
  position: fixed;
  height: 10%;
  white-space: nowrap;
}
#jyuukou {font-size: .5vw; color: rgba(240, 240, 245, 1);}
#main_title_1, #main_title_2, #main_title_3 {
  z-index: 1000;
  /*animation: rotate 25s ease infinite alternate;
  */
}

#main_title_3 {
  animation: glitch .025s alternate infinite;
}
#main_title_1 {font-size: 25vw;}
#main_title_2 {font-size: 20vw;}
#main_title_3 {font-size: 10vw;}

#bu {font-size: 35vw; color: rgba(42, 230, 234, 1);
background-image: radial-gradient(rgba(0, 0, 025, .25) 15%, transparent 1%), radial-gradient(rgba(230, 230, 025, 1) 5%, transparent 6%);
background-size: 10px 10px;
}
#ruto {color: rgba(230, 42, 234, 1);}
#ron {color: rgba(234, 230, 42, 1);
background-image: radial-gradient(rgba(0, 0, 025, .25) 10%, transparent 1%), radial-gradient(rgba(230, 230, 025, 1) 5%, transparent 6%);
background-size: 10px 10px;
}
/*Animations*/
@keyframes rotate {
  0% {transform: rotate(20deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(-25deg);}
}
@keyframes glitch {
  0% {}
  100% {transform: translateX(20px);
        transform: scale(.99);}
}

/* Display {sizes} */
/* Thx css-tricks yeet */
/* Phones */
@media screen
  and (min-device-width: 200px)
  and (max-device-width: 450px) {
    p {font-size: 5vw;}
    .frame_head_tippytop{margin: 0; margin-bottom: 25%;}
    .frame_head {margin-bottom: 25%;}
    #bu {font-size: 30vw;}
    #main_title_1 {font-size: 25vw;}
    #main_title_2 {font-size: 20vw;}
    #main_title_3 {font-size: 18.5vw;}
}
/*Weird portrait screens*/
@media screen
  and (min-device-width: 600px)
  and (max-device-width: 767px) {
    p {font-size: 2vw;}
    .frame_head_tippytop{
      margin-left: 30%;
      margin-right: 30%;
      padding-bottom: 20%;}
    .frame_body {margin-top: 25%;}
    .frame_body_foot {margin-top: 20%;}
    #bu {font-size: 30vw;}
    #main_title_1 {font-size: 20vw;}
    #main_title_2 {font-size: 15vw;}
    #main_title_3 {font-size: 10vw;}
}
/* Tablets */
@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px) {
    p {font-size: 2vw;}
    .frame_head_tippytop{
      margin-left: 30%;
      margin-right: 30%;
      padding-bottom: 20%;}
    #main_title_1 {font-size: 30vw;}
    #main_title_2 {font-size: 15vw;}
    #main_title_3 {font-size: 10vw;}
  }
}
/*non-retina*/
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ration: 1) {
}

@media screen
  and (min-device-width: 1600px)
  and (max-device-width: 3600px) {
}
