.wf-nicomoji { font-family: "Nico Moji"; }
.wf-notosansjapanese { font-family: "Noto Sans JP"; }

html, body {
  /*background-color: rgba(240,240,025,1);
  background-image: radial-gradient(rgba(0, 0, 025, .25) 10%, transparent 1%), radial-gradient(rgba(230, 230, 025, 1) 5%, transparent 6%);
  background-size: 15px 15px;
  */
  background-color: rgba(245, 245, 245, 1);
  height: 100%;
}
h1,h2,h3,h6,a,p {font-family: "VT323", "Nico Moji", sans-serif;}
p {
  font-size: 1.5em;
}
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* 上のcontainer */
.rotate_jp {
  writing-mode: vertical-rl;
}
.frame {
  background-color: rgba(245, 245, 245, 1);
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#jyuukou {
  font-size: .85em;
  color: rgba(220, 220, 220, .5);
  position: 100px;
  margin: 0;
}
#main_title {
  font-size: 15em;
  text-shadow: 0 4px 0px rgba(184,20,113,1) ;
  animation: title 2s ease-out infinite alternate;
  z-index: 1000;
}

.top {
  position: relative;
  top: 10px;
}
.bot {
  position: relative;
  bottom: 0px;
}

/*Animations*/
@keyframes title {
  0% {text-shadow: 0 4px 2px rgba(184,20,113,1) ;}
  100% {text-shadow: 0 4px 2px rgba(184,20,113,.25) ;}
}

/* Display {sizes} */
/* Thx css-tricks yeet */
/* Phones */
@media screen
  and (min-device-width: 200px)
  and (max-device-width: 450px) {
    #main_title {
      font-size: 5em;
      text-align: center;
      padding-top: 5%;
    }
}
/*Weird portrait screens*/
@media screen
  and (min-device-width: 600px)
  and (max-device-width: 767px) {
    #main_title {
      font-size: 13em;
    }
}
/* Tablets */
@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px) {
    #main_title {
      font-size: 5em;
    }
  }
}
/*non-retina*/
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ration: 1) {
}

@media screen
  and (min-device-width: 1600px)
  and (max-device-width: 3600px) {

    #main_title {
      font-size: 20vw;
    }
}
