html, body{
  background: linear-gradient(#11111f, #FF505D);
  height: 100%;
}
#water {
  width: 200px;
  height: 200px;
  background: #11111f;
  border-radius: 120px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  animation: pulse1 10s ease-in-out infinite alternate;
}
#night {
  width: 10px;
  height: 10px;
  padding: 10px;
  background: #fbfbfb;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  animation: pulse2 20s linear infinite;
}
#kumo {
  height: 20px;
  width: 300px;
  background: #fbfbfb;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  animation: pulse3 10s linear infinite;
}
@keyframes pulse1 {
  30% {background: #11111f;}
  100% {background: #11111b;}
  from {transform: translateX(0px); transform: scale(1,1);}
  to {transform: translateX(20px); transform: scale(1.2,1.2);}
}
@keyframes pulse2 {
  from {transform: scale(1,1) rotate(0deg) translateX(200px) rotate(0deg);}
  to {transform: scale(1,1) rotate(360deg) translateX(200px) rotate(-360deg);}
}
@keyframes pulse3 {
}
