
/* Fonts */
@font-face {
  font-family: "Kinako";
  src: url('fonts/NuKinakoMochi/NuKinakoMochi-Reg.otf') format('opentype')
}
h1, h2, h3, h4, h5, p, a {
  font-family: "Kinako";
  font-size: 150%;
}
a {
  color: #212529;
}
html, body {
  background-color: #fcfcfc;
  height: 100%; width: 100%;
}
.col {
  text-align: center;
}
.row {
  /*same as bigCol*/
  height: 90%;
}
#header {
  padding-top: 5rem;
  text-align: center;
}
#header.absolute {
  position: absolute;
  left: 0;
  right: 0;
}
#bigCol {
  position: static;
  height: 80%;
  border-radius: 5px;
  background-color: #ef008b;
}
#bigCol.tall {
  height: 100%;
  border-radius: 0px;
}
#bigCol.wide {
  max-width: 80%;
}

#lod {
  margin: auto auto;
  float: none;
  cursor: pointer;
  position: absolute;
  bottom: 15px; right: 20px;
}

#urighti, #ulefti, #drighti, #dlefti {
  position: relative;
  padding: 10%;
}
#urighti.hidden, #ulefti.hidden, #drighti.hidden, #dlefti.hidden {
  display: none;
}
#urighti, #ulefti {
  padding-top: 20%;
}

/* Info bar with the two options */
#infobar {
  text-align: center;
}
#words, #picts {
  cursor: pointer;
  user-select: none;
}
#words.hidden, #picts.hidden {
  display: none;
}
#words.activated {
  /*I can do what I want*/
  color: 0;
}

/* Phone and Portrait screens */
@media screen
  and (min-device-width: 200px)
  and (max-device-width: 450px) {
    h1, h2, h3, h4, h5, p, a {
      font-size: 125%;
    }
    #urighti, #ulefti, #drighti, #dlefti {
      padding: 5%; padding-top: 10%;
    }
    #bigCol {
      border-radius: 0px;
    }
}
@media screen
  and (min-device-width: 600px)
  and (max-device-width: 767px) {
    h1, h2, h3, h4, h5, p, a {
      font-size: 125%;
    }
    #urighti, #ulefti, #drighti, #dlefti {
      padding: 5%; padding-top: 10%;
    }
    #bigCol {
      border-radius: 0px;
    }
}
/* Tablet screens */
@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px) {
}
/* Non-retina screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ration: 1) {
}

@media screen
  and (min-device-width: 1600px)
  and (max-device-width: 3600px) {
    #urighti, #ulefti, #drighti, #dlefti {
      padding: 10%; padding-top: 17.5%;
    }
}
