
/* Fonts */
@font-face {
  font-family: "Kinako";
  src: url('fonts/NuKinakoMochi/NuKinakoMochi-Reg.otf') format('opentype')
}
h1, h2, h3, h4, h5, p, a {
  font-family: "Kinako";
}
p, a {
  font-size: 125%;
}
a {
  text-decoration: none;
  color: #212529;
}
html, body {
  background-color: #fcfcfc;
  height: 100%; width: 100%;
  margin: 0;
  padding: 0;
}
.links {
  color: #212529;
}
#header {
  padding-top: 5rem;
  text-align: center;
}
#header.absolute {
  position: absolute;
  color: #fcfcfc;
  padding-top: 2.5rem;
  left: 0;
  right: 0;
}
#bigCol {
  position: relative;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  background-color: #FFC132;
  padding-bottom: 1rem;
  /*
  #368AD5 Blue
  #E72D9A Reddish
  #FFC132 Orangy
  #88F230 Lime
  */
}
#bigColInside {height: 100%; margin: 0;} /* Just to override row */
#bigCol.tall {
  /* This number will be calculated based off how big the text is.*/
  height: 100%;
  padding-top: 10rem;
  border-radius: 0px;
}
#bigCol.wide {
  height: 80%;
  max-width: 100%;
  border-radius: 0px;
}

#lod {
  margin: auto auto;
  float: none;
  cursor: pointer;
  position: fixed;
  bottom: 25px; left: 20px;
}

#left, #right, #middle {
  position: relative;
  height: 20rem;;
  padding: 5%;
  padding-top: 15%;
  text-align: center;
}
#left {
  border-right: #212529;
  padding-top: 2.5%;
  height: 35rem;
}
#middle {
  padding-top: 20%;
  padding-left: 0; padding-right: 0;
}
#right {
  padding-top: 20%;
  text-align: center;
}
#bottom {
  padding-left: 7.5%; padding-right: 7.5%;
}
#temp {
  text-align: center;
}
#left.hidden, #right.hidden, #middle.hidden, #bottom.hidden {
  display: none;
}
#name {
  font-size: 175%;
}
#prfpic {
  max-width: 100%;
  max-height: 100%;
  animation: jiggleboi 10s infinite alternate ease-in-out;
}
/* Info bar with the two options */
#infobar {
  text-align: center;
  padding-top: 25px;
}
#words, #picts, #colour {
  cursor: pointer;
  user-select: none;
}
#words.hidden, #picts.hidden {
  display: none;
}
#words.activated {
  /*I can do what I want*/
  color: 0;
}
#colour {
  position: fixed;
  text-orientation: upright;
  writing-mode: vertical-rl;
  color: #212529;
  top: 20px;
  right: 20px;
  font-size: 65%;
}

/* Minor animations */
@keyframes jiggleboi {
  0% {transform: rotate(5deg);}
  33% {transform: rotate(10deg);}
  66% {transform: rotate(0deg);}
  100% {transform: rotate(5deg);}
}

/* Phone and Portrait screens */
@media screen
  and (min-device-width: 200px)
  and (max-device-width: 450px) {
    h1, h2, h3, h4, h5, p, a {font-size: 100%;}
    #colour {
      text-orientation: upright;
      writing-mode: horizontal-tb;
      position: relative;
    }
    #right, #extra_words, #left, #words, #picts {display: none;}
    #lod {max-width: 10%;}
    #bigCol {border-radius: 0px;}
}
@media screen
  and (min-device-width: 600px)
  and (max-device-width: 767px) {
    h1, h2, h3, h4, h5, p, a {font-size: 125%;}
    #colour {
      text-orientation: upright;
      writing-mode: horizontal-tb;
      position: relative;
    }
    #right, #words, #picts, #extra_words, #audioQ, #weep {display: none;}
    #bigCol {border-radius: 0px;}
}
/* Tablet screens */
@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px) {
}
/* Non-retina screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ration: 1) {
}

/* High-res screens (but not retina)*/
@media screen
  and (min-device-width: 1600px)
  and (max-device-width: 3600px) {
}
/* Retina! Thx CSS tricks*/
@media 
(-webkit-min-device-pixel-ration: 2),
(min-resolution: 192dpi) {
  h1, h2, h3, h4, h5, p, a {font-size: 120%;}
  #lod {max-width: 50%;}
  #header {padding-top: 2rem;}
  #bigCol {height: 100%;}
  #middle, #right {padding-top: 15%; height: auto;}
  #left {height: 50%;}
}